body{ 
    font-family: 'Courier New';
    padding: 20px;
    margin: 0px;
    
}
button {
    font-family: 'Courier New';
}
h1{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    min-height:100vh;
    justify-content: start;
    
}
 

textarea{
    padding: 20px;
    margin: 20px;
}