body{ 
    font-family: 'Courier New';
    padding: 20px;
     margin: 10px;
     background-color: aqua;
    
} 

.main{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
  }
 